<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteRule  favicon.ico favicon.ico    [L]
    RewriteRule  ^$ public/    [L]
    RewriteRule  (.*) public/$1 [L]
</IfModule>

php_value max_input_vars 3000
php_value suhosin.get.max_vars 3000
php_value suhosin.post.max_vars 3000
php_value suhosin.request.max_vars 3000